.footer {
  color: var(--white);
  text-align: center;
  padding-block-start: 40px;
  padding-block-end: 40px;
  font: var(--body1);
  max-inline-size: 1158px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  margin: auto;
}

.footerLogo {
  display: none;
}

.footer .social {
  justify-content: center;
  padding: 0;
}

.buttonIcon {
  border: 2px solid transparent;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

@media screen and (min-width: 768px) {
  .footerLogo {
    display: block;
  }
  .social a {
    margin-inline-end: 0px;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .social {
    order: 3;
  }
}

@media screen and (min-width: 1024px) {
  .footerText {
    gap: 8px;
    display: flex;
  }
}
